/**
* Toteuttaa jotain köykäsiä teemotuksia Tulosnäkymälle. Odotellen muita ryhmäläisiä.
 * Joel Anttila 2014
 */

/*
 * TODO
 * Explorer ei tue @media => css3 -ominaisuus. Luo vaihtoehdollinen metodi. 
 * Info näytössä täytyy teemoitukset näkyä oikein. Pieni fontti on pieni fontti.
 */

body {
	margin: auto;
	width: 300px;
	font-family: 'Denk One', sans-serif;
}

/**
 *
 */
#sija1 {
  font-size: 40px;
}

/**
 *
 */
#sija2 {
  font-size: 35px;
}  

/**
 *
 */
#sija3 {
  font-size: 30px;
}

.sijat {
  height: 30px;
}

/**
 * class=kunnia
 */
.kunnia {
  font-size: 30px;
}

.oppilaitos {
  width: 300px;
  height: 20px;
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 50px;
  /*
  list-style: disc outside none;
  display: list-item; */
}