/**
 * Lopputyö
 * 
 * SAKUSTARS Tulospalvelu
 * Projekti Tulosnäkymä
 * 
 * Ohjelmoija: Joel Anttila 2014
 * nakyma.css
 */

/**
 * Toteuttaa yksinkertaisia CSS tyylittelyjä kuten
 * fontit, padding, reunat, yms sijoitteluun liittyviä
 * tyylittelyjä.
 *
 * TODO
 *  - <li> -elementistä listaus bulletti pois.
 */

 /*
body {
	margin: auto;
	width: 300px;
   } */

body {
<<<<<<< HEAD

=======
font-family: 'Cedarville Cursive', cursive;
>>>>>>> ff9dab8c6d5f7ee92170474209188e2a01175379
}

/*
div#sisalto {
  //margin: 0px auto;
  width: 600px;
  padding: 0px;
} */

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

div#kunnia {
  float: right;
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 150px;
}

div#tulos {
  float: right;
  width: 300px;
  padding-right: 150px;
}

div#lajit {
  float: left;
  width: 260px;
}

#kunnia_srk1 {
  float: left;
  padding-right: 25px;
}

#kunnia_srk2 {
  float: right;
}

/**
 *
 */
#sija1 {
  font-size: 35px;
}

/**
 *
 */
#sija2 {
  font-size: 30px;
}  

/**
 *
 */
#sija3 {
  font-size: 30px;
}

.sijat {
  height: 25px;
}

.jaettu {
  font-size:30px;
}

/**
 * class=kunnia
 * 30px vakio
 */
.kunnia {
  font-size: 25px;
}

.oppilaitos {
  width: 300px;
  height: 20px;
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 50px;
  /*
  list-style: disc outside none;
  display: list-item; */
}