/**
 * Lopputyö
 * 
 * SAKUSTARS Tulospalvelu
 * Projekti Tulosnäkymä
 * 
 * Ohjelmoija: Joel Anttila 2014
 * nakyma.css
 */

/**
 * Toteuttaa yksinkertaisia CSS tyylittelyjä kuten
 * fontit, padding, reunat, yms sijoitteluun liittyviä
 * tyylittelyjä.
 *
 * TODO
 *  - <li> -elementistä listaus bulletti pois.
 */

 /*
body {
	margin: auto;
	width: 300px;
   } */

body {
  margin: auto;
  font-family: 'Denk One', sans-serif;
}

/*
div#sisalto {
  //margin: 0px auto;
  width: 600px;
  padding: 0px;
} */

h1 {
  font-size: 45px;
  width: 600px;
}

h3 {
  font-size: 25px;
}

div#kunniat {
  float: right;
  padding-top: 40px;
  padding-left: 30px;
  /*padding-right: 100px; */
}

div#tulos {
  float: right;
  /*width: 300px;*/
  padding-right: 100px;
}

div#logo {
  float: left;
}

#kunnia_srk1 {
  float: left;
  padding-right: 25px;
}

#kunnia_srk2 {
  float: right;
}

/**
 *
 */
#sija1 {
  font-size: 40px;
}

/**
 *
 */
#sija2 {
  font-size: 35px;
}  

/**
 *
 */
#sija3 {
  font-size: 35px;
}

.sijat {
  height: 35px;
}

.jaettu {
  font-size: 35px;
}

/**
 * class=kunnia
 * 30px vakio
 */
.kunnia {
  font-size: 25px;
  width: 200px;
  padding-bottom: 5px;
}

.oppilaitos {
  /*width: 300px; 
  height: 20px;*/
 
  font-size: 30px; 
  margin-left: 50px;
  /*margin-bottom: 50px;*/
  padding-bottom: 25px;
  /*
  list-style: disc outside none;
  display: list-item; */
}
